@page
@model FEIHub_Web.Pages.LoginModel;
@{
    Layout = null;
}


<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.111.3">
    <title>Signin Template · Bootstrap v5.3</title>



    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FEIHub_Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

    <meta name="theme-color" content="#712cf9">
    <script>
    function togglePasswordVisibility() {
        var passwordInput = document.getElementById("password");
        var passwordToggleIcon = document.getElementById("passwordToggleIcon");

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            passwordToggleIcon.classList.remove("fa-eye");
            passwordToggleIcon.classList.add("fa-eye-slash");
        } else {
            passwordInput.type = "password";
            passwordToggleIcon.classList.remove("fa-eye-slash");
            passwordToggleIcon.classList.add("fa-eye");
        }
    }
    </script>


  </head>
  <body style="margin-top:50px">


    <main class="container">
    <form class="row justify-content-end" asp-page-handler="Login" method="POST" asp-page="./Login">
        <div class="row justify-content-start">
            <div class="col-md-6">
                <img class="img-fluid" src="/Resources/FEIHub_Logo.png" style="max-height: 754px; width: 35%; position: absolute; top: 0; left: 0;" />
            </div>
        </div>
            <p class="col-lg-6 align-self-end text-center custom-label" style="font-size: 25px; margin-top: -80px;margin-right: -87.5px;">Universidad Veracruzana</p>
            <h1 class="text-end" style="margin-top: 50px; margin-bottom: 50px; margin-right: 10%;">Bienvenido a FEIHub</h1>

            <div class="row justify-content-end">
                <div class="col-6 align-self-end">
                    <div class="form-floating">
                        <input type="text" name="username" class="form-control" id="username" placeholder="Username">
                        <label for="floatingInput">Nombre de usuario</label>
                    </div>
                    <br>
                    <div class="form-floating">
                        <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                        <label for="floatingPassword">Contraseña</label>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" onclick="togglePasswordVisibility()">
                            <i id="passwordToggleIcon" class="fa fa-eye"></i>
                            </button>
                        </div>
                    </div>
                    <br>
                    <style>
                        .btn-custom-login {
                            background-color: #14a3c8; /
                            color: #000000;
                            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
                        }
                        .btn-custom-singin {
                            background-color: #feffffef; /
                            color: #000000;
                            border: 1px solid #000000;
                            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
                        }
                        .alert-fade {
                            opacity: 1;
                            transition: opacity 0.5s ease-in-out;
                        }
                        .alert-hide {
                            opacity: 0;
                            transition: opacity 0.5s ease-in-out;
                        }
                        .custom-label {
                            background-color: #063970;
                            color : white;
                        }
                    </style>
                    <button class="w-100 btn btn-lg btn-custom-login" type="submit" style="margin-bottom: 50px; margin-right: 10%;">Iniciar Sesión</button>
                    @if (Model.Message == "Verifica tus credenciales" || Model.Message == "No puedes dejar campos vacíos" )
                    {
                        <div id="alertMessage" class="alert alert-danger alert-fade" role="alert">@Model.Message</div>
                        <script>
                            setTimeout(function() {
                                var alertMessage = document.getElementById("alertMessage");
                                alertMessage.classList.add("alert-hide");
                            }, 2000);
                        </script>
                    }
                    @if (Model.Message != null &&  Model.Message.StartsWith("Bienvenido (a)")){
                        <div id="sucessMessage" class="alert alert-success mt-3 alert-fade">@Model.Message</div>
                        <script>
                            setTimeout(function() {
                                var alertMessage = document.getElementById("sucessMessage");
                                alertMessage.classList.add("alert-hide");
                            }, 2000);
                        </script>
                    }
                    <br>

                </div>
            </div>
        </div>
    </form>
    <div class="row justify-content-end">
        <label class="col-md-6 text-end" style="margin-bottom: 50px; margin-right: 17%;">¿Aún no tienes cuenta? <a asp-page="SingIn">Regístrate</a></label>
    </div>
    </main>

  </body>
</html>
