@page
@model FEIHub_Web.Pages.NewPostModel;
@{
    ViewData["Title"] = "Nueva publicación";
}

<br>
<div class="containerPage">
    <h3>Crear publicación</h3>
<br>
<form  method="POST">
<div class="write-post-container">
    <div class="post-input-container">
        <div class="mb-3">
            <label for="title" class="form-label">Título</label>
            <input type="text" class="form-control" id="title">
        </div>
        <div class="mb-3">
            <label for="body" class="form-label">Descripción</label>
            <textarea class="form-control" id="body" rows="3"></textarea>
        </div>
        <div class="add-post-links">
                <div class="post-components">
                    <label>Etiqueta: </label>
                    <select class="form-select" aria-label="Etiqueta:">
                        <option selected>Todos</option>
                        <option value="1">Estudiantes</option>
                        <option value="2">Académicos</option>
                    </select>
                </div>
                <div class="mb-3">
                    <input class="form-control" type="file" id="formFileMultiple" multiple accept=".jpg, .jpeg, .png">
                </div>
                <button type="submit" class="btn btn-primary"> Publicar</button>
                <a class="btn btn-secondary" asp-page="/MainPage">Cancelar</a>
        </div>
    </div>
</div>
















</form>
</div>